*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    position: relative;
}

a{
    text-decoration: none;
}

.firstSectionImg{
    width: 100%;
    margin-bottom: -5px;
}

.secondSection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6rem 12rem 10rem;
    background-color: #000;
    color: #fff;
}

.secondSection h1{
    width: 45%;
    font-size: 4rem;
    line-height: 80px;
    font-weight: 500;
    font-family: 'EB Garamond';
}

.secondSection div{
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

.secondSection div p{
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: justify;
}

.secondSection a{
    color: #fff;
    text-decoration: none;
}

.thirdSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #000;
}

.thirdSection img{
    width: 50%;
    height: 100vh;
}

.thirdSectionModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 3rem;
}

.modalTop{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    font-family: 'EB Garamond';
}

.thirdSectionModal p{
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 2rem; */
    font-size: 1rem;
}

.modalTopText{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 16px;
}

.oakAndAcacia, .mappleAndPenthouse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.oacAndAcaciaSecond, .mappleAndPenthouseSecond{
    text-align: end;
}

.oakAndAcacia h3, .mappleAndPenthouse h3{
    margin-bottom: 10px;
    font-family: 'EB Garamond';
    font-size: 20px;
}

.modalLink{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 7px;
}

.thirdSectionModal a{
    font-family: "Poppins";
    color: #fff;
    text-decoration: none;
}

.fourthSection{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 12rem 10rem;
    gap: 4rem;
}

.fourthSection p{
    font-family: "Poppins";
    margin-bottom: 2rem;
    text-align: justify;
}

.fourthSection h1{
    margin-bottom: 1rem;
    font-size: 60px;
    line-height: 80px;
}

.zubraColor, .modalTop h3, .oakAndAcacia h3, .mappleAndPenthouse h3{
    color: #E4002B;
}

.nav{
    position: absolute;
    z-index: 999;
    top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
}

.nav a, .nav i{
    color: #fff;
}

.nav .menuToggle{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    font-family: "Poppins";
    gap: 5px;
}

.nav img{
    width: 10%;
}

.nav .menuToggle:hover i, .nav .menuToggle:hover p{
    color: #E4002B;
    cursor: pointer;
}

.side-nav i:hover{
    color: #E4002B;
}

.side-nav{
    position: fixed;
    top: 0%;
    right: -2000px;
    display: flex;
    width: 100%;
    height: 120vh;
    transition: .7s ease-in-out;
}

.side-nav .navLink{
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    height: 120vh;
}

.side-nav .nav-img{
    width: 50%;
    height: 120vh;
}

.navLinkTop{
    margin: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks{
    display: grid;
    gap: 40px;
    margin-left: 100px;
    font-size: 30px;
}

.navLinkTop i{
    font-size: 40px;
    cursor: pointer;
}

.navLinkTop img{
    width: 20%;
}

#topSection{
    /* position: relative; */
}

@media screen and (max-width:1400px) {
    .secondSection, .fourthSection{
        padding: 6rem 6rem 10rem;
    }

    .thirdSectionModal{
        width: 70%;
        padding: 1.5rem;
    }
}

@media screen and (max-width:992px) {
    .secondSection, .fourthSection{
        padding: 6rem 2rem 10rem;
    }
    
    .thirdSectionModal{
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .secondSection, .fourthSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .secondSection h1, .fourthSection h1{
        width: 65%;
        font-size: 50px;
        text-align: center;
        line-height: 60px;
        /* margin-bottom: 50px; */
        margin: 0 auto 50px;
    }

    .secondSection div{
        width: 90%;
    }
}

@media screen and (max-width:576px) {
    .modalTop{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .fourthSection h1{
        font-size: 35px;
        width: 90%;
    }

    .secondSection div p{
        width: 90%;
    }
}

@media screen and (max-width:450px) {
    .thirdSection img{
        display: none;
    }

    .secondSection{
        padding-bottom: 30rem;
    }

    .fourthSection{
        padding-top: 30rem;
    }

    .fourthSection img{
        width: 100%;
    }

    .secondSection h1{
        font-size: 30px;
        margin-bottom: 20px;
        width: 70%;
    }

    .oakAndAcacia, .mappleAndPenthouse{
        flex-direction: column;
    }

    .oakAndAcacia, .oacAndAcaciaSecond{
        text-align: start;
    }

    .mappleAndPenthouse{
        text-align: start;
    }

    .mappleAndPenthouse{
        text-align: end;
    }

    .oacAndAcaciaFirst{
        margin-bottom: 1.5rem;
    }

    .mappleAndPenthouseFirst{
        margin-bottom: 1.5rem;
    }

    .secondSection, .fourthSection{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}